{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  {% if not request.user.is_staff %}
          <h2 class="text-center mb-4 mt-5">Навчайся - проходь тестування у нас!</h2>
          <div class="row justify-content-center">
          <div class="col-md-12 text-center">
              <p class="text-center fs-5"> Онлайн-платформа <strong>«HappyStudy»</strong> створена для того, щоб кожен школяр, незалежно від 
                місця проживання, зміг отримувати якісні знання в цікавому форматі.</p>
            </div>
          </div>

            <div class="row">
                
                <div class="col-md-4 mb-4" >
                    <div class="home-card shadow-sm d-flex flex-column">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <h5 class="card-title">Англійська мова</h5>
                            <p class="card-text">Для учнів 5-9 класів</p>
                            <img src="{% static 'img/english-home.svg' %}" alt="Англійська мова іконка" width="60%">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="home-card shadow-sm d-flex flex-column">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <h5 class="card-title">Математика</h5>
                            <p class="card-text">Для учнів 5-9 класів</p>
                            <img src="{% static 'img/math-home.svg' %}" alt="Математика іконка" width="60%">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="home-card shadow-sm d-flex flex-column">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <h5 class="card-title">Середня школа</h5>
                            <p class="card-text">Цікаві тести з усіх предметів</p>
                            <img src="{% static 'img/ser-home.svg' %}" alt="Середня школа іконка" width="60%">
                        </div>
                    </div>
                </div>
            </div>
    

        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card p-4 mb-5">
                    <h3 class="text-center">Що ми пропонуємо?</h3>
                    <ul>
                        <li class="text-center fs-5"><strong>Навчання в будь-який час:</strong> Ви можете вчитися з будь-якого пристрою та у зручний для вас час.</li>
                        <li class="text-center fs-5"><strong>Прогрес на кожному кроці:</strong> Стежте за своїми результатами, покращуйте свої знання та відслідковуйте свій прогрес.</li>
                    </ul>
                </div>
            </div>
        </div>

          <div class="col-md-12 text-center d-flex justify-content-center align-items-center">
            <img src="{% static 'img/main-home.jpg' %}"
            alt="" class="d-block mx-auto img-fluid" width="100%">
            <a href="" class="btn choose-btn btn-lg position-absolute top-70 start-50 translate-middle">
              Обрати тестування
            </a>
          </div>

        <div class="row justify-content-center mb-5">
            <div class="col-md-12 text-center">
                <h1 class="display-4 mt-5 mb-4">Про нас</h1>
                <p class="text-center fs-5">
                    Ми створили цей проект, щоб у кожного була можливість отримати якісну освіту, брати участь в масових 
                    інтелектуальних змаганнях, розвивати свої здібності та здобувати нагороди за свої знання.
                </p>
            </div>
        </div>

     
    {% else %}    
    <h2 class="text-center mb-4 mt-5">Онлайн-платформа <strong>«HappyStudy»</strong> допомагає навчати</h2>
      
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <p class="text-center fs-5">Створюйте необмежені можливості для обміну досвідом між освітянами.
            Тут ви можете керувати тестами, користувачами, переглядати статистику та багато іншого.</p>
        </div>
    </div>
    

    <div class="row">
                
        <div class="col-md-4 mb-4" >
            <div class="home-card shadow-sm d-flex flex-column">
                <a class="no-link-style" href="{% url 'create_quiz' %}">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Створити тест</h5>
                    <p class="card-text">Створюйте нові тестування</p>
                    <img src="{% static 'img/create-test.svg' %}" alt="Англійська мова іконка" width="40%">
                </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="home-card shadow-sm d-flex flex-column">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Список тестувань</h5>
                    <p class="card-text">Перегляньте існуючі тести</p>
                    <img src="{% static 'img/tests.svg' %}" alt="Математика іконка" width="40%">
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="home-card shadow-sm d-flex flex-column">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Учні</h5>
                    <p class="card-text">Відстежуйте прогрес у навчанні учнів</p>
                    <img src="{% static 'img/users-home.svg' %}" alt="Середня школа іконка" width="40%">
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card p-4 mb-4">
                <h2 class="text-center">Загальна статистика</h2>
                <ul>
                    <li class="fs-5">Додано новий тест: <strong>"--"</strong>.</li>
                    <li class="fs-5">Кількість тестів: <strong>{{ quizzes_count }}</strong></li>
                    <li class="fs-5">Кількість користувачів: <strong>{{ users_count }}</strong></li>
                </ul>
            </div>
        </div>
    </div>
   {% endif %}
</div>

{% endblock %}